@model List<WebCheesyPizzaApplication.ViewModels.BasketProductViewModel>
<div asp-validation-summary="All"></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Amount</td>
            <td>@(item.Amount*item.Price) TJS</td>
        </tr>

        }
    </tbody>
</table>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Итого</th>
            <td>@Model.Sum(x => x.Price) TJS</td>
        </tr>
    </thead>
</table>

<div class="float-right:50px">
    
</div>








