@model List<WebCheesyPizzaApplication.ViewModels.BasketProductViewModel>
<div asp-validation-summary="All"></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
</table>
