@model WebCheesyPizzaApplication.ViewModels.IndexCategoryViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="mt-3 bg-light float-left text-center" style="width:200px; height:700px; ">

    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Categories)
        {

            <li class="list-group-item list-group-item-warning">
                @item.Name
            </li>

        }
    </ul>
</div>
@foreach (var item in Model.Products)
{


    <div class="card col-md-3 text-center m-3" style="display:inline-flex; width:40%">
        <div class="col-md card; ">
            <div class="card-header">
                <a href="~/products/detailsproduct?id=@item.Id" class="btn btn-link">@item.Name</a>
            </div>
            <div class="card-body d-flex justify-content-center">
                <img height="300" width="320" src="@item.ImagePath" alt="FOTO" />
            </div>
            <div class="card-footer">
                <p>Цена:@item.Price TJS</p>
                <a href="/Products/DeleteProduct?id=@item.Id" class="btn btn-primary">Изменить</a>
                <a href="/Products/DeleteProduct?id=@item.Id" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>

}
