@model List<WebCheesyPizzaApplication.Models.Product>

@{
    ViewData["title"] = "Поиск по блюдам";
}
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3">
            <div asp-validation-summary="All"></div>
            <div class="row">
                <form asp-action="DetailsProduct" asp-controller="Products">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">
                                <a href="~/products/detailsproduct?id=@item.Id">@item.Name</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div type="text" asp-for="Id"></div>
                            <div>
                                <img width="320" src="@item.Image" alt="PHOTO" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>Цена: @item.Price</div>
                            <div>Категория: @item.Category.Name</div>
                            <a href="~/products/AddToBasket?id=@item.Id" style="margin-top:10px" class=" btn sbtn-block btn-primary btn-outline-success btn-block">Добавить в корзину</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}




