<div class="card" style="width: 28rem;">
    <div class="card-body" style="position:center">
        <h5 class="card-title">Контакты</h5>
        <p class="card-text"><strong> Номер телефона:</strong> +(992) 90-500-49-90</p>
        <p class="card-text"><strong> Email:</strong> Cheesy.Pizza@@mail.ru</p>
        <p class="card-text"><strong> Адрес:</strong> Сино 130/2 кв.35 </p>

    </div>
</div>
