@model WebCheesyPizzaApplication.ViewModels.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<form action="SignUp" method="post">
    <input type="text" asp-for="Name" class="form-control"  />
    <input type="text" asp-for="LastName" class="form-control"  />
    <input type="tel" asp-for="PhoneNumber" class="form-control" />
    <input type="email" asp-for="Email"class="form-control" />
    <input type="text" asp-for="Login"class="form-control" />
    <input type="password" asp-for="Password" />
    <input type="submit" value="Зарегистрироваться" />
</form>