@{
    ViewData["Title"] = "Home Page";
}
<img src="./images/Быстро.jpg"style="width:2000px" height="800px"  />
<div style="width:10%">
    <a href="~/products/index" style="position:absolute; top:500px; left:1050px; width:15%" class="btn btn-primary btn-lg btn-block">Перейти на главное меню</a>
</div>


